<div class="home-container">
  <!-- Imagen del logo de Angular -->
  <img src="assets/images/logo.png" alt="Logo de inmoworld" class="inmoworld-logo" />

  <!-- Título de la página -->
  <h1 class="title">INMOWORLD</h1>

  <!-- Contenedor de botones con rutas -->
  <div class="button-container">
    <!-- Añadir routerLink para navegar a las rutas correspondientes -->
    <button class="home-button" routerLink="/user">Ver Usuarios</button>
    <button class="home-button" routerLink="/property">Ver Propiedades</button>
    <button class="home-button" routerLink="/message">Ver Mensajes</button>
  </div>
</div>


