<div class="home-container">
  <!-- Imagen del logo de Angular -->
  <img src="assets/images/angular.png" alt="Logo de Angular" class="angular-logo" />

  <!-- Título de la página -->
  <h1 class="title">Angular</h1>

  <!-- Contenedor de botones con rutas -->
  <div class="button-container">
    <!-- Añadir routerLink para navegar a las rutas correspondientes -->
    <button class="home-button" routerLink="/usuaris">Veure Usuaris</button>
    <button class="home-button" routerLink="/experiencia">Veure Experiències</button>
  </div>
</div>

