<div class="container">
  <!-- Formulario a la izquierda -->
  <div class="form-container">
    <h1>{{ indiceEdicion !== null ? 'Editar usuario' : 'Agregar un nuevo usuario' }}</h1>
    <form (ngSubmit)="agregarElemento(userForm)" #userForm="ngForm">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input 
          id="nombre" 
          [(ngModel)]="nuevoUsuario.name" 
          name="name" 
          placeholder="Nombre del usuario" 
          required />
        <div *ngIf="userForm.controls['name']?.invalid && (userForm.controls['name']?.touched || formSubmitted)" class="error-message">
          El nombre es obligatorio.
        </div>
      </div>

      <div class="form-group">
        <label for="mail">Email:</label>
        <input 
          id="mail" 
          [(ngModel)]="nuevoUsuario.mail" 
          name="mail" 
          placeholder="Email" 
          required 
          email />
        <div *ngIf="userForm.controls['mail']?.invalid && (userForm.controls['mail']?.touched || formSubmitted)" class="error-message">
          {{ userForm.controls['mail'].errors?.['required'] ? 'El email es obligatorio.' : 'Formato de email no válido.' }}
        </div>
      </div>

      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input 
          id="password" 
          [(ngModel)]="nuevoUsuario.password" 
          name="password" 
          type="password" 
          placeholder="Password" 
          required 
          minlength="7" />
        <div *ngIf="userForm.controls['password']?.invalid && (userForm.controls['password']?.touched || formSubmitted)" class="error-message">
          {{ userForm.controls['password'].errors?.['required'] ? 'La contraseña es obligatoria.' : 'La contraseña debe tener al menos 7 caracteres.' }}
        </div>
      </div>

      <div class="form-group">
        <label for="confirmarPassword">Confirmar Contraseña:</label>
        <input 
          id="confirmarPassword" 
          [(ngModel)]="confirmarPassword" 
          name="confirmarPassword" 
          type="password" 
          placeholder="Confirmar Password" 
          required 
          minlength="7" />
        <div *ngIf="confirmarPassword !== nuevoUsuario.password && confirmarPassword.length > 0 && formSubmitted" class="error-message">
          Las contraseñas no coinciden.
        </div>
      </div>

      <div class="form-group">
        <label for="biografia">Biografía:</label>
        <input 
          id="biografia" 
          [(ngModel)]="nuevoUsuario.comment" 
          name="comment" 
          placeholder="Biografía" />
      </div>

      <button 
        type="submit" 
        class="submit-button" 
        [disabled]="!userForm.valid">
        {{ indiceEdicion !== null ? 'Actualizar' : 'Agregar' }}
      </button>
    </form>
  </div>

  <!-- Lista de usuarios a la derecha -->
  <div class="lista-usuarios">
    <h2>Lista de Usuarios</h2>
    <ul>
      <li *ngFor="let usuario of usuarios; let i = index">
        <div class="user-info">
          <strong>{{ usuario.name }}</strong>
          <div class="button-container">
            <button (click)="toggleDesplegable(i)" class="detalles mostrar-detalles">
              {{ desplegado[i] ? 'Ocultar detalles' : 'Mostrar detalles' }}
            </button>
            <button (click)="eliminarElemento(i)" class="eliminar">Eliminar</button>
          </div>
        </div>

        <!-- Detalles del usuario -->
        <div *ngIf="desplegado[i]" class="user-details">
          <p><strong>Email:</strong> {{ usuario.mail | maskEmail}}</p>
           <!-- Contraseña con visibilidad controlada -->
           <p><strong>Contraseña:</strong>
            <span *ngIf="mostrarPassword[i]">{{ usuario.password }}</span>
            <span *ngIf="!mostrarPassword[i]">********</span>
          </p>
          <!-- Biografía con lógica de truncado y leer más -->
          <p><strong>Biografía:</strong>
            <!-- Si desplegarBiografia[i] es verdadero, muestra todo, si no, trunca a 10 caracteres -->
            {{ desplegarBiografia[i] ? usuario.comment : (usuario.comment | truncate: 10) }}
          </p>

          <!-- Botón para alternar entre mostrar más o menos en la biografía -->
          <button (click)="toggleBiografia(i)" class="leer-mas">
            {{ desplegarBiografia[i] ? 'Leer menos' : 'Leer más' }}
          </button>        

          <button (click)="prepararEdicion(usuario, i)" class="modificar">Modificar</button>
        </div>
      </li>
    </ul>
  </div>
</div>
